body {
    font-family: 'arimo';
    background-color: #1c1d25;
}

.first {
    height: 100vh;
    color: white;
    font-size: 40px;
}

.second {
    background-color: white;
    justify-content: space-around;

}

.third {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer {
    height: auto;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: light;
}

.first img {
    height: 200px;
    width: 200px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    width: 1000px;
    font-size: 30px;
}

li {
    width: 200px;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

li a:hover, h1 a:hover {
    color: hsl(195, 28%, 43%);
    font-weight: bold;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 60px;
    margin-top: 30px;
    text-align: center;
}

h3 {
    font-size: 22px;
}

.about-width {
    width: 130px;
}

.first-content {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: -70px;
}

.first-text {
    margin-top: -200px;
    justify-content: center;
    text-align: center;
}

.contact-now {
    margin-top: 50px;
    font-size: 30px;
}

div.num {
    font-size: 70px;
    color: #FD1C03;
    font-weight: bold;
}

.summary {
    font-size: 20px;
}

.guarantees {
    font-size: 30px;
}

p {
    margin: 0;
    font-weight: light;
    font-size: 30px;
}

.whatsapp {
    margin-top: -150px;
    width: max-content;
}

.whatsapp img {
    height: 100px;
    width: 100px;
}

.second-flex-container {
    display: flex;
    justify-content: space-between;
}

.second-image-container img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    padding-bottom: 0;
    margin-top: -100px;
}

.about-opener {
    font-size: 23px;
    font-weight: bold;
}

.second-about p {
    font-size: 25px;
    font-weight: light;
    text-align: right;
    margin-top: none;
    margin-right: 15px;
}

.second-about {
    width: 1000px;
}
.second-image-container {
    display: flex;
    align-items: center;
}

.service-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(84, 70, 70);
    margin: 10px;
}

.service-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.service-image {
    width: 300px;
    height: 200px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.service-link {
    text-decoration: none;
    color: #ef744b;
}

.subtext {
    font-size: 17px;
    font-weight: 300;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.arrow img {
    height: 100px;
    width: 100px;
    margin-top: 50px;
}

@media only screen and (max-width: 1000px) {
    li {
        font-size: 40px;
    }
    
    h1 {
        font-size: 120px;
    }

    .first-text-part-one {
        margin-top: -100px;
    }

    .first-text-part-two {
        margin-top: 200px;
    }

    .summary {
        font-size: 25px;
    }

    .contact-now {
        font-size: 70px;
        color: rgb(237, 7, 34);
    }

    div.num {
        font-size: 120px;
        color: rgb(237, 7, 34);
        font-weight: bold;
    }

    .whatsapp {
        margin-top: 200px;
    }

    .arrow img  {
        margin-bottom: -300px;
    }

    .service-container {
        display: flex;
        flex-wrap: wrap;
    }

    .second-image-container img{
        width: 200px;
        height: 200px;
        border-radius: 150px;
        padding-bottom: 0;
        margin-top: 100;
    }
}

@media only screen and (min-width: 1000px) {
    body {
        margin-top: -20px;
    }

}